---

import PageLayout from "../layouts/PageLayout.astro";
import BlogPage from "../components/BlogPage.astro";---

<PageLayout>
    <BlogPage title="About">
        <p>Nothing to see for now</p>
    </BlogPage>
</PageLayout>