---
import PageLayout from "../layouts/PageLayout.astro";
import BlogPage from "../components/BlogPage.astro";
---

<PageLayout title="AstroBlog">
    <BlogPage title="This is a blog example">
        <p>
            I'm using Tailwind CSS because I want to see if I can be faster and more
            productive with it. Seems good so far, I'm not disappointed. I'm also
            using Astro because I think they are the future of web development.
            Their architecture is very promising.
        </p>
        <p>
            Before making an actual project with Astro though I want to make sure
            I'm able to store and persist data on a database. For this, I'm gonna
            try Astro DB.
        </p>
        <p>
            I'm not sure how I'm gonna store images yet, but from what I understood
            the best way to do it seems to be a cloud service like AWS
        </p>
    </BlogPage>
</PageLayout>
