---
import PageLayout from "../layouts/PageLayout.astro";
import showFormError from "../utils/showFormError";
import { createCookie } from "../utils/cookies";
import { DAOUser } from "../../db/models/DAOUser";

const formResult: FormResult = {};
if (Astro.request.method === "POST") {
    try {
        const formData = await Astro.request.formData();
        const email = (formData.get("email") as string).trim();
        const password = formData.get("password") as string;
        const user = await DAOUser.findUser({ email, password });
        if (!user) {
            formResult.error = "Cet utilisateur n'existe pas.";
        } else {
            formResult.user = user;
            createCookie(Astro.cookies, "userid", user.id.toString());
        }
        return Astro.redirect("/");
    } catch (e) {
        formResult.error = true;
    }
}
---

<PageLayout title="Login">
    <h1 class="font-bold text-5xl mb-10 text-center">Se connecter</h1>
    <div class="flex justify-center w-full">
        <form class="flex flex-col items-center w-2/4 min-w-[200px] max-w-[350px] space-y-5" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Adresse mail" required />
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required />
            </div>
            {formResult.error && (
                <p class="text-red-500 text-center mb-5">
                    {showFormError(formResult)}
                </p>
            )}
            <button class="bg-stone-800 dark:bg-black hover:bg-stone-950 text-white rounded-sm px-4 py-2 w-full">
                Se connecter
            </button>
        </form>
    </div>
</PageLayout>

<style lang="scss">
    form div {
        @apply w-full;

        label {
            @apply block text-lg mb-3 leading-tight;
        }

        input {
            @apply block border border-gray-200 rounded-sm shadow-sm w-full;
            @apply py-2 px-4;
            @apply text-gray-900;
        }
    }
</style>
